body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: #eee7e1;
    color: #1d1c1b;
}

.content-wrapper {
    display: flex;
    align-items: center;
    padding: 5em;
}

/*LEFT COLUMN*/

.left-col {
    width: 50%;
}


/*WRAPPER*/

.projects-wrapper {
    margin: 0 auto;
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1em;
    width: 50%
}

/*PROJECT ITEMS*/

.project-item {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content {
    padding: 0.5em;
}

/*IMAGES*/

img {
    width: 100%;
    object-fit: cover;
}

/*TECH SPANS*/

.tech {
    background-color: pink;
    padding: 0.1em 0.25em;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 3px;
}

/*LINKS*/

.links {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-decoration: none;
    text-align: center;
}

.links i {
    font-size: 1.5rem;
    color: red;
}

.links i:hover {
    color: rebeccapurple;
}

/*FOOTER*/

footer {
    height: 5em;
    background-color: #1d1c1b;
    justify-content: space-evenly;
    align-items: center;
}


.footer-flex {
    display: flex;
    text-decoration: none;
}

.footer-flex i {
    font-size: 1.5rem;
    color:#ffffff;
}

.footer-flex i:hover {
    color: #D3CADE;
}

/*MEDIA QUERIES*/

@media (max-width: 600px) {

    .left-col {
        width: 100%;
    }
    .content-wrapper {
        width: 100%;
        padding: 0.5em;
        flex-direction: column;
    }

    .projects-wrapper {
        grid-template-columns: repeat(1, auto);
        width: 100%;
    }

    .project-item {
        box-shadow: none;
    }

}

@media (min-width: 600px) and (max-width: 1000px) {

    .content-wrapper {
        width: 100%;
        padding: 0.5em;
        flex-direction: column;
    }

    .left-col {
        width: 100%;
    }

    .projects-wrapper {
        width: 90%;
    }

}