body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    color: #545454;
    font-weight: 300;
}

/*Main container*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

/*Typography*/

h1 {
    font-weight: 300;
    border-bottom: 1px dotted #161315;
}

.small {
    font-size: 0.8rem;
    margin: 5px;
}

/*Columns*/


.left {
    max-width: 15%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-items: center;
}

.right {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5em;
}

/*Images*/

.img-container img {
    width: 100%;
}

.img-container {
    position: relative;
    width: 300px;
    height: 300px;
    background-size: cover;
}

.thumbnail-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: #EFEDE7;
}

.overlay {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .overlay:hover {
    opacity: 1; 
  }

  p.overlay {
    margin: 0;
}

/*Overlay links*/

.thumbnail-text a {
    text-decoration: none;
    color: #EFEDE7;
    padding: 2px;
}

.thumbnail-text a:hover {
    color: #824839;
} 


/*Bio*/

.bio {
    text-align: justify;
}

/*Social links*/

.socials {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.socials a {
    color: #463422;
    text-decoration: none;
    font-weight: 300;

}

.socials a:hover {
    color: #824839;
    border-bottom: 1px dotted #D9785F;
}

/*Tech icons*/

.tech-icons {
    margin-top: 1em;
    text-align: center;
}

.tech-icons div {
    display: inline;
    font-size: 2rem;
}

/*Profile picture*/

.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/*Media queries   769px — 1024px*/

@media (max-width: 1024px) {

    body {
        align-items: flex-start;
        padding: 2em 0;
    }

    main {
        flex-direction: column;
        gap: 3em;
    }

    .left {
        max-width: 75%;
    }
}

@media (max-width: 650px) {
    .right {
        grid-template-columns: repeat(1, auto);
    }
    
}